body{
    background-color: #222831;
   
    background-size: 100vh;
}



.header{
    background:#393E46;
    
    border-radius:10px;
    height:20vh;
    

}
#title{
    display:inline-flex;
    color:#F67280;
    text-align:left;
    font-size:40px;
    font-family: 'Chokokutai', cursive;
  
    padding:0px;
    text-shadow: 3px 5px rgba(138, 28, 155, 0.757);


}




.footer{
    display:grid;
    border:2px solid rgba(30, 7, 81, 0.202);
    grid-template-columns: 1fr  ;
    margin-top:100px;
   
     box-shadow: 5px 10px rgb(255, 2, 255);
     border-radius:10px;
}

.data{
    border:2px solid rgba(30, 7, 81, 0.202);
    font-size: 1.5em;
    background: #69039853;
    color:whitesmoke;
    text-align: center;
    
    
}

footer{
    text-align: justify;
    font-family:'', cursive;
}
